---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const columns = await getSinglePage("columns");
const sortedColumns = sortByDate(columns);
const totalPages = Math.ceil(sortedColumns.length / config.settings.pagination);
const currentPosts = sortedColumns.slice(0, config.settings.pagination);

const entry = (await getEntry(
  "columns",
  "-index",
)) as CollectionEntry<"columns">;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title + config.site.titleDelimiter}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
