---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";

const entry = await getEntryBySlug("pages", "contact");
const { contact_form_action } = config.params;
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 set:html={markdownify(title)} class="h2 page-heading" />
      <div class="row md:gx-5 gy-5">
        <div class="sm:col-5 md:col-4">
          <p class="mb-8 text-2xl font-bold text-theme-dark">联系信息</p>
          <ul class="flex flex-col space-y-8">
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <!-- <FaAddressCard className="mr-3 text-primary" /> -->
                <div class="mr-3 text-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-telegram"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"
                    ></path>
                  </svg>
                </div>
                <p class="font-semibold">Telegram</p>
              </div>
              <p set:html={markdownify(address)} class="mt-2 leading-5 pl-8" />
            </li>
            <!-- <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaEnvelope className="mr-3 text-primary" />
                <p class="font-semibold">Email</p>
              </div>
              <p
                set:html={markdownify(email)}
                class="mt-2 leading-5 pl-8 content"
              />
            </li> -->
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <!-- <FaPhoneAlt className="mr-3 text-primary" /> -->
                <div class="mr-3 text-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-youtube"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"
                    ></path>
                  </svg>
                </div>
                <p class="font-semibold">YouTube</p>
              </div>
              <p set:html={markdownify(phone)} class="mt-2 leading-5 pl-8" />
            </li>
          </ul>
        </div>
        <div class="sm:col-7 md:col-8">
          <form
            class="contact-form row gy-2 justify-center"
            method="POST"
            action={contact_form_action}
          >
            <div class="lg:col-6">
              <label class="mb-2 block" for="name"
                >姓名 <span class="text-red-600">*</span></label
              >
              <input
                class="form-input w-full"
                name="name"
                type="text"
                required
              />
            </div>
            <div class="lg:col-6">
              <label class="mb-2 block" for="email"
                >邮箱 <span class="text-red-600">*</span></label
              >
              <input
                class="form-input w-full"
                name="email"
                type="email"
                required
              />
            </div>
            <div class="col-12">
              <label class="mb-2 block" for="subject">主题</label>
              <input class="form-input w-full" name="subject" type="text" />
            </div>
            <div class="col-12">
              <label class="mb-2 block" for="message"
                >信息 <span class="text-red-600">*</span></label
              >
              <textarea class="form-textarea w-full" rows="4"></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary mt-2">立即提交（已关闭）</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
